body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #333438;
    color: white;
}

#logo_footer {
    width: 286.64px;
}

li {
    list-style-type:none;
    padding: 5px 0px;
}
.poredak {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}

#leva_str {
    flex: 1; 
    margin-right: 20px; 
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    flex: 1; 
    padding: 30px;
    font-size: 12px;
}

#desna_str {
    display: flex;
    justify-content: space-between;
    flex: 1;
    text-align: center;
}

#desna_str > div {
    flex: 1; 
    margin-right: 20px; 

}

#desna_str > div:last-child {
    margin-right: 0; 
}

h5 {
    margin-left: 40px;
}

#forma_footer p{
 margin: 0;
}

#forma_footer input{
    border: 0;
}

hr {
    color: #D9D9D9;
    background-color: #D9D9D9;
    width: 90%;
    margin: 10px 10px 10px 70px;
}

.poredak_dva {
    display: flex;
    flex-wrap: wrap; 
    padding-bottom: 10px;
}

.poredak_dva p {
    font-size: 11px;
}

.poredak_dva img{
    width: 30px;
}